#^css same=append

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}article,footer,header,main,menu,nav,section,summary{display:block;}

/* bitter-300 - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 300;
  src: url('{_root}data/font/bitter-v28-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('{_root}data/font/bitter-v28-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{_root}data/font/bitter-v28-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-300.woff') format('woff'), /* Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{_root}data/font/bitter-v28-latin-300.svg#Bitter') format('svg'); /* Legacy iOS */
}

/* bitter-regular - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url('{_root}data/font/bitter-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('{_root}data/font/bitter-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{_root}data/font/bitter-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{_root}data/font/bitter-v28-latin-regular.svg#Bitter') format('svg'); /* Legacy iOS */
}

/* bitter-500 - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 500;
  src: url('{_root}data/font/bitter-v28-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('{_root}data/font/bitter-v28-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{_root}data/font/bitter-v28-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-500.woff') format('woff'), /* Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{_root}data/font/bitter-v28-latin-500.svg#Bitter') format('svg'); /* Legacy iOS */
}

/* bitter-700 - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  src: url('{_root}data/font/bitter-v28-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('{_root}data/font/bitter-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{_root}data/font/bitter-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-700.woff') format('woff'), /* Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{_root}data/font/bitter-v28-latin-700.svg#Bitter') format('svg'); /* Legacy iOS */
}

/* bitter-300italic - latin */
@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 300;
  src: url('{_root}data/font/bitter-v28-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('{_root}data/font/bitter-v28-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{_root}data/font/bitter-v28-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{_root}data/font/bitter-v28-latin-300italic.svg#Bitter') format('svg'); /* Legacy iOS */
}

/* bitter-italic - latin */
@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 400;
  src: url('{_root}data/font/bitter-v28-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('{_root}data/font/bitter-v28-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{_root}data/font/bitter-v28-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{_root}data/font/bitter-v28-latin-italic.svg#Bitter') format('svg'); /* Legacy iOS */
}

/* bitter-700italic - latin */
@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 700;
  src: url('{_root}data/font/bitter-v28-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('{_root}data/font/bitter-v28-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{_root}data/font/bitter-v28-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('{_root}data/font/bitter-v28-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{_root}data/font/bitter-v28-latin-700italic.svg#Bitter') format('svg'); /* Legacy iOS */
}


html    {font-size:18px; scroll-behavior:smooth;}
body	{background:#ffefef; font-family:'Bitter',serif; font-size:18px; font-weight:400; line-height:normal; color:#111; max-width:100%; overflow-x:hidden; padding:0; margin:0;}
h1		{font-size:2.2em; font-weight:700; color:#736b62;}
h2		{font-size:1.5em; font-weight:normal;}
h3      {font-size:2.0em; font-weight:500; color:#736b62;}
b		{font-weight:700;}
i		{font-style:italic;}
a		{color:#111; text-decoration:none; transition:all 0.5s ease-out;}

.row            {max-width:1170px; margin-right:auto; margin-left:auto; display:flex; flex-flow:row wrap;}
.head_content   {position:sticky; top:0; background-color:#ffefef; z-index:3;}
.main_content   {min-height:400px; padding-top:20px; padding-bottom:20px;}
.foot_content   {border-top:1px solid #918170;}
.nav_wrap,
.cc_wrap,
.funder_wrap    {display:flex; align-items:center; justify-content:space-between; width:100%;}
.cc_wrap        {align-items:baseline; border-top:1px solid #918170; padding:20px 0 40px 0;}
.funder_wrap    {align-items:center; padding:20px 0;}
.nav_content    {display:flex; padding-left:30px; align-items: baseline; justify-content:space-between; width:calc(100% - 200px);}
.logo           {height:100px; align-items:center; justify-content:center; display:flex;}
.more           {text-align:center; width:100%; padding:30px 0; font-size:26px;}
.about_text_zine a,
input#add_submit,
.post_link_text,
.translate a,
.top a          {font-family:Sans-Serif;}

.logo a         {display:flex; align-items:center;}
.logo a img     {height:38px; padding-right:10px;}
.translate a    {background:#d2d2c6; padding:5px 20px; border-radius:6px; font-size:0.9rem; transition:all 0.5s ease-out;}
.translate a:hover,
.translate a:focus{background:#f2d3b8;}
.on a           {font-style:italic; color:#2d2b2a; font-weight:300;}
.more a:hover   {color:#736b62;}
.about a:hover  {color:#736b62;}
.p1 a:hover     {color:#4b99b0;}
.p2 a:hover     {color:#5e8c51;}
.p3 a:hover     {color:#6d3f86;}
.p4 a:hover     {color:#e67700;}

/*	Mobile Navigation adapted from Copyright (c) 2022 by Julien Lejeune (https://codepen.io/jlnljn/pen/LZXoBb)*/
.mob_content    {display:none;}
.mob_logo       {position:fixed; top:0; left:1.5rem; z-index:6; height:80px;}
.mob_logo a img {height:30px;}
.mob_link       {font-size:1.5rem; margin-bottom:1.5rem;}
.mob_about      {font-size:1.0rem; margin-bottom:1.0rem; border-top:1px solid #918170; border-bottom:1px solid #918170; padding:1.0rem 0;}
.mob_cc_wrap    {margin-top:2.5rem;}
.mob_cc         {font-size:0.8rem; line-height:initial; margin-top:0.3rem;}

#mob_nav input + label {position:fixed; top:1.5rem; right:20px; height:40px; width:40px; z-index:5;}
#mob_nav input + label span {position:absolute; width:18px; height:2px; top:25%; margin-top:-1px; left:0; display:block; background:#444; transition:0s;}
#mob_nav input + label span:first-child {top:4px;}
#mob_nav input + label span:last-child {top:16px;}
#mob_nav label:hover {cursor:pointer;}
#mob_nav input:checked + label span {opacity:0; top:25%;}
#mob_nav input:checked + label span:first-child {opacity:1; transform:rotate(405deg);}
#mob_nav input:checked + label span:last-child {opacity:1; transform:rotate(-405deg);}
#mob_nav input ~ nav {background:#ffefef; position:fixed; top:0; left:0; width:100%; height:80px; z-index:3; transition:0s; transition-delay:0s; overflow:hidden;}
#mob_nav input ~ nav > ul {position:absolute; top:100px; left:1.5rem; right:1.5rem;}
#mob_nav input ~ nav > ul > li {opacity:0; transition:0s; transition-delay:0s;}
#mob_nav input ~ nav > ul > li > div > a {display:block;}
#mob_nav input:checked ~ nav {height:100%; transition-delay:0s;}
#mob_nav input:checked ~ nav > ul > li {opacity:1; transition-delay:0s;}

.pillar_wrap    {text-align:center; width:100%; font-size:72px; margin-bottom:30px;}
.list_wrap      {margin-top:20px; flex-wrap:wrap; justify-content:space-between; display:flex; width:100%;}
.info_wrap      {margin-top:20px; justify-content:center; display:flex; width:90%; margin-right:auto; margin-left:auto;}
.question       {width:calc(50% - 15px); border:1px solid #918170; margin-bottom:30px; transition:all 0.5s ease-out;}
.question:hover,
.question:focus {background:#fff9f9; border:1px solid #ee9d46;}
.wide           {width:100%;}
.current        {background:#fff9f9;}

.blog           {display:flex;}
.blog.full      {display:flex; flex-flow:column;}
.blog .img      {background:url('{_root}data/image01.jpg'); background-size:cover; width:100%; height:400px; position:relative;}
.blog.p1q1 .img {background:url('{_root}data/p1.svg'); background-size:cover;}
.blog.p1q2 .img {background:url('{_root}data/p1_1.svg'); background-size:cover;}
.blog.p1q3 .img {background:url('{_root}data/p1.svg'); background-size:cover;}
.blog.p1q4 .img {background:url('{_root}data/p1_1.svg'); background-size:cover;}
.blog.p1q5 .img {background:url('{_root}data/p1.svg'); background-size:cover;}
.blog.p2q1 .img {background:url('{_root}data/p2.svg'); background-size:cover;}
.blog.p2q2 .img {background:url('{_root}data/p2_1.svg'); background-size:cover;}
.blog.p2q3 .img {background:url('{_root}data/p2.svg'); background-size:cover;}
.blog.p2q4 .img {background:url('{_root}data/p2_1.svg'); background-size:cover;}
.blog.p2q5 .img {background:url('{_root}data/p2_2.png'); background-size:cover;}
.blog.p3q1 .img {background:url('{_root}data/p3.svg'); background-size:cover;}
.blog.p3q2 .img {background:url('{_root}data/p3_1.svg'); background-size:cover;}
.blog.p3q3 .img {background:url('{_root}data/p3.svg'); background-size:cover;}
.blog.p3q4 .img {background:url('{_root}data/p3_1.svg'); background-size:cover;}
.blog.p3q5 .img {background:url('{_root}data/p3.svg'); background-size:cover;}
.blog.p4q1 .img {background:url('{_root}data/p4.svg'); background-size:cover;}
.blog.p4q2 .img {background:url('{_root}data/p4_1.svg'); background-size:cover;}
.blog.p4q3 .img {background:url('{_root}data/p4.svg'); background-size:cover;}
.blog.p4q4 .img {background:url('{_root}data/p4q4.png'); background-size:cover;}
.blog.p4q5 .img {background:url('{_root}data/p4_1.svg'); background-size:cover;}

.item_wrap      {display:flex; align-items:flex-start;}
.item_text      {width:300px; margin-right:30px; background-color:#eee6e6; padding:5px 10px;}
.item_star      {font-size:100px; line-height:80px; margin-right:10px; color:#e6ba66;}
.post_link_wrap {min-width:500px;}
.post_link_text {color:#fff; background-color:#32992a; padding:15px 30px; border-radius:12px; font-size:38px; border:1px solid #224f31; box-shadow:10px 10px #111; text-align:center; transition:all 0.2s ease-out;}
.post_link_text img     {width:45px; margin-right:10px;}
.post_link_text:hover,
.post_link_text:focus   {background-color:#33682f; box-shadow:0px 0px #111; transform:translateY(0.20em);}
.img_text       {padding:5px 10px; background-color:#fff; font-size:16px; line-height:20px; position:absolute; bottom:0;}
.img_text span  {display:block; font-size:15px; font-weight:300;}

span#answer_wrap,
span#reply      {display:block; padding-top:100px; margin-top:-100px;}
.comment_list_wrap{display:flex; flex-flow:wrap; justify-content:space-around; align-items:center; margin-top:60px; width:90%; margin-left:auto; margin-right:auto; scroll-margin-top:6.5rem;}
.comment_wrap   {width:80%; margin-bottom:30px;}
.comment_wrap:nth-of-type(odd) {margin-left:auto;}
.comment_wrap:nth-of-type(even) {margin-right:auto;}
.comment        {background-color:#fff; padding:30px; box-shadow:3px 3px 3px #e1c5c51c;}
.comment_name   {font-weight:700; font-size:36px; line-height:40px;}
.comment_text   {margin-top:20px; font-size:24px; line-height:32px; letter-spacing:-1.2px; overflow-wrap:break-word; word-break:break-word;}
.comment_url    {margin-top:20px; border-top:1px solid #918170; padding-top:10px;}
.comment_url_text   {font-style:italic; font-weight:300; margin-bottom:5px;}
.comment_image  {background:url('{_root}data/image01.jpg'); background-size:cover; width:100%; height:200px;}
.comment_media  {background-color:#fff; padding:20px 20px 0 20px;}
.comment_play   {border:5px solid #d2d2c6; border-radius:12px; padding:15px 20px;}

/*	Input placeholder font color	*/
::-webkit-input-placeholder {/* WebKit, Blink, Edge */color:#bbb;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#bbb; opacity:1;}
::-moz-placeholder { /* Mozilla Firefox 19+ */color:#bbb; opacity:1;}
:-ms-input-placeholder { /* Internet Explorer 10-11 */color:#ccc;}
::-ms-input-placeholder { /* Microsoft Edge */color:#bbb;}

textarea#add_post,
input#add_url,
input#add_name                  {border:0; background-color:transparent; min-height:50px; font-family:'Bitter',serif; font-size:26px; line-height:30px; width:100%;}
textarea#add_post               {min-height:150px;}
textarea#add_post::placeholder,
input#add_url::placeholder,
input#add_name::placeholder     {font-family:'Bitter',serif; font-size:30px; line-height:36px; color:#777; letter-spacing:-1.2px;}
input#add_url::placeholder      {font-size:24px; line-height:26px;}
textarea:focus, input:focus     {outline:0;}
input#add_submit                {background:#111; color:#fff; padding:10px 40px; border:0; border-radius:6px; font-size:26px; transition:all 0.5s ease-out; margin-top:30px;}
input#add_submit:hover          {background:#7b5330; cursor:pointer;}

.post_wrap      {margin-top:80px; margin-bottom:40px; width:90%; margin-left:auto; margin-right:auto;}
.post_area      {border:2px solid #777; border-radius:20px; padding:30px; display:flex; flex-flow:column;}
.post_question  {padding-bottom:20px; color:#444;}
.post_question span {font-style:italic; font-weight:300;}
.post_more      {display:flex; flex-flow:column; padding-top:20px;}
.post_name      {font-size:30px; line-height:36px; color:#777; letter-spacing:-1.2px; width:100%; padding-right:35px;}
.post_media     {background:url('{_root}data/media_post.svg'); background-size:cover; width:30px; height:33px;}
.post_image     {background:url('{_root}data/image_post.svg'); background-size:cover; width:50px; height:44px;}
.post_foot_wrap {display:flex; width:100%; justify-content:space-between; align-items:center;}
.post_info      {padding:0 50px 0 20px; font-size:16px; line-height:20px; font-style:italic;}
.post_info a    {text-decoration:underline; color:#736b62;}

.blog.box1 .img {height:250px;}
.blog.box1      {justify-content:space-between; height:100%;}
.blog.box2      {align-items:center; height:100%;}
.text_wrap      {padding:20px 35px; width:100%;}
.type           {font-size:22px; font-style:italic; font-weight:300;}
.text           {font-size:42px; letter-spacing:-2px; line-height:46px; margin-top:10px;}
.type span      {font-weight:400; font-style:normal; color:#777;}
.text span      {display:block; font-size:28px; line-height:32px; padding-top:10px;}
.box1           {flex-flow:column;}
.box2 .type     {width:50%; border-left:1px solid; margin-left:auto; padding-left:20px; height:100px;}
.box2 .text     {text-align:center; margin-top:20px; margin-bottom:20px;}

.about_wrap     {margin-top:30px;}
.about_text     {font-size:24px; padding-top:20px;letter-spacing:-0.6px; line-height:30px;}
.about_text b   {font-weight:500;}
.about_text_title   {font-weight:300; margin-bottom:20px; font-style:italic;}
.about_text_zine    {font-size:18px; text-align:right;}
.cc_text        {font-size:16px; line-height:24px;}
.cc_text img    {height:22px; margin-left:3px; vertical-align:text-bottom;}
.cc_text a      {color:#736b62;}
.code           {font-size:16px;}
.support        {display:flex; align-items:center; font-size:16px;}
.support img    {width:40px; padding-left:10px;}
.funder_img     {}
.funder_img img {height:128px; max-width:300px;}
.funder_text    {font-weight:300; font-size:16px; line-height:22px; padding:0 20px 0 40px;}
.funder_text a  {font-weight:400;}
.funder_text a:hover,
.funder_text a:focus  {text-decoration:underline;}

/*  Print CSS */
a.mob_print_link,
a.print_link        {text-align:center; background:#eee6e6; border-radius:6px; margin-top:20px; padding:10px 15px;}
.about_text_zine a:hover,
a.mob_print_link:hover,
a.print_link:hover  {cursor:pointer; background:#f2d3b8;}
a.mob_print_link    {display:none; padding:15px;}
.print >  div       {color:#000;}
.print_cover_title  {font-size:24px; line-height:28px; padding:30px 0;}
.print_cover_subtitle  {font-size:30px; line-height:28px; font-weight:300; padding:30px 0 0 0;}
.print_cover_by     {font-size:14px; font-weight:300;}
.print_cover_cc     {font-size:9px; padding-top:5px;}
.print_chap         {page-break-before:always; page-break-after:avoid; page-break-inside:avoid;}
.print_subtitle     {font-style:italic; font-weight:300;}
.print_title span   {display:block; font-size:19px; line-height:24px; padding-top:10px;}
.print_title        {font-size:30px; line-height:28px; padding:10px 0;}
.print_answers      {}
.print_name         {font-weight:700; padding-top:20px;}
.print_post         {}
.print_footer       {display:flex; justify-content:space-between; border-top:1px solid #000; padding-top:20px; position:fixed; left:0; bottom:0; width:100%; height:15mm;}
.print_cc           {font-size:11px;}
.print              {display:none;}

@media (min-width: 360px) and (max-width: 767.98px) {
html            {font-size:18px;}
body            {padding:0.5em 1.5em; font-size:1.0rem;}
.head_content   {display:none;}
.mob_content    {display:block;}
.main_content   {padding-top:40px;}
h2              {font-size:1.2rem; line-height:inherit;}
.type,
.more,
.comment_text,
.text span,
.about_text     {font-size:1.0rem; line-height:inherit;}
.text span      {letter-spacing:-1px;}
h1,
.comment_name,
.text           {font-size:1.5rem; line-height:inherit;}
.box2 .type     {height:20px;}
.question       {width:100%;}
textarea#add_post::placeholder,
input#add_name::placeholder,
textarea#add_post,
input#add_name  {font-size:1.2rem; line-height:inherit;}
.post_link_text {font-size:2.5rem; line-height:inherit; padding:15px 5px;}
.pillar_wrap    {font-size:2.5rem; line-height:inherit;}
.wide .blog     {display:flex; flex-flow:column;}
.blog .img,
.blog.box1 .img {height:150px;}
.current .blog .img,
.current .blog.box1 .img {height:300px;}
.text_wrap      {padding:20px;}
.comment_list_wrap,
.current .blog,
.info_wrap      {width:100%; flex-flow:column;}
.comment_list_wrap  {margin-top:40px;}
.info_wrap      {margin-top:0;}
input#add_url::placeholder,
input#add_url,
.comment_url_text,
.comment_url,
.item_text      {font-size:0.8rem;}
.comment_wrap:nth-of-type(2n)   {margin:initial; margin-bottom:30px;}
.comment_wrap   {width:100%;}
.post_link_wrap {min-width:initial;}
.post_wrap      {width:100%; margin-top:40px;}
.post_area      {padding:20px;}
.post_more      {flex-flow:column;}
.post_name      {padding:0;}
.post_foot_wrap {align-items:center; flex-flow:column-reverse;}
.post_info      {margin-top:20px; padding-right:0; padding-left:0;}
input#add_submit{margin-top:20px; width:100%;}
.cc_wrap        {display:block;}
.cc_text,
.support,
.code           {margin-bottom:20px;}
.about_text_zine  {text-align:initial;}
.funder_wrap    {flex-flow:column;}
.funder_img     {width:initial;}
.funder_text    {padding:20px 0 0 0;}
a.print_link    {display:none;}
a.mob_print_link{display:block;}
}

@media (min-width: 768px) and (max-width: 991.98px) {
body            {padding:0.5em 1.5em; font-size:1.0rem;}
.nav_content    {padding:0;}
.wide .blog .img{height:initial;}
.blog.full .img,
.blog.box1 .img {height:150px;}
h1, h2,
.comment_name   {font-size:1.5rem; line-height:inherit;}
.text           {font-size:1.8rem; line-height:inherit;}
.about_text     {font-size:1.0rem; line-height:inherit;}
.text span      {font-size:1.0rem; letter-spacing:-1px;}
.box2 .type     {height:40px;}
a.cc_link       {display:inline;}
.cc_wrap > div  {font-size:0.8em;}
.cc_text        {width:85%;}
.comment_list_wrap      {width:100%;}
.info_wrap      {width:100%; flex-flow:wrap;}
.post_foot_wrap {align-items:flex-start;}
.post_info      {margin-top:20px;padding-right:20px; padding-left:0;}
.funder_wrap    {flex-flow:wrap; justify-content:left;}
.funder_text    {padding:20px 0 0 0;}
.support        {flex-flow:wrap;}
}

@media print {
@page           {size:148mm 210mm; margin-top:20mm; margin-bottom:10mm;}
body            {background:#fff; color:#000; visibility:hidden;}
.main_wrap      {display:none;}
.print          {display:block; visibility:visible;}
.print_footer   {display:flex;}
}
